.card{
        color: azure;
        border : 2px solid black;
        border-radius: 15px;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        font-style: normal;
        font-weight: bold;
        font-size: large;
        flex-direction: column;
        position: relative;
        top: 50%;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #888888;
        height: 600px;
        width: 350px;
label { font-style: italic}

.mybutton{
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s; /* Übergangseffekt für Farbänderung */
}
        .mybutton:hover {
                background-color: green; /* Hintergrundfarbe bei Hover */
        }
}




