
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}

.top{
  margin-top: 55px;
}



.main{
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  flex: 1;
  margin: auto;
  flex-direction: column;
  place-items: center; /* Zentriert den Inhalt horizontal und vertikal */
  text-align: center;
  width: 100%;
}

.container{
  flex-direction: column;
  justify-content: center;
  display: flex;
  flex: 1;

}


 .rights{

   text-align: center;
   padding: 1rem;
   width: 100%;
   bottom: 0;

}

