#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input{
  background-color: whitesmoke;
  solid-color: #535bf2;
  color: #1a1a1a;
}

.app {
  background-color: #222;
  color: gold;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

#bild{
  position: fixed; /* Positionierung festlegen */
  top: 10px; /* Abstand vom oberen Rand */
  left: 10px; /* Abstand vom linken Rand */
  width: 100px; /* Breite des Bildes */
  height: auto;
  border-radius: 10px; /* Radius der abgerundeten Ecken */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.tile {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}

.tile h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.tile p {
  font-size: 16px;
}
